<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>

	<head
		th:replace="~{fragments/general.html :: head(description='The page to visualize all available lessons',title='Lessons')}">
	</head>
	<link href="/css/lessons.css" rel="stylesheet" type="text/css">
</head>

<body>
	<nav th:replace="~{fragments/general.html :: navbar(${principal})}"></nav>
	<div th:replace="~{fragments/general.html :: principalModel(${principal})}"></div>
	<div class="container-fluid">
		<main>
			<div class="row">
				<div class="col-md-4">
					<a href="/lessons">
						<h1>Lessons</h1>
					</a>
				</div>
			</div>
			<div class="row">
				<div class="col-sm-6">
					<a sec:authorize="hasRole('ADMINISTRATOR') or hasRole('TEACHER')" href="/lessons/new">
						<button class="create-button">Create</button>
					</a>
				</div>
				<div class="col-sm-6">
					<nav class="navbar navbar-expand-lg">
						<div class="container-fluid">
							<div class="collapse navbar-collapse" id="navbarSupportedContent">
								<form action="#" id="searchForm" class="d-flex ms-auto" method="GET">
									<input th:if="${purpose == 'addToCourse' or purpose == 'deleteFromCourse'}" type="hidden" name="courseId" th:value=${courseId}>
									<input th:if="${purpose == 'addToCourse'}" type="hidden" name="purpose" value="addToCourse">
									<input th:if="${purpose == 'deleteFromCourse'}" type="hidden" name="purpose" value="deleteFromCourse">
									<div class="me-2">
										<input id="searchInput" class="form-control" type="number" placeholder="Search"
											aria-label="Search">
									</div>
									<button class="btn btn-success me-2" type="submit">Search</button>
									<div class="btn-group dropup">
										<button type="button" class="btn btn-secondary dropdown-toggle"
											data-bs-toggle="dropdown" aria-expanded="false">
											Search by
										</button>
										<ul class="dropdown-menu dropdown-menu-lg-end text-menu"
											aria-labelledby="dropdownMenuClickableInside">
											<li><a id="idLink" class="dropdown-item" data-type="number">id</a></li>
											<li><a id="lessonDateLink" class="dropdown-item" data-type="date">lesson
													date</a></li>
											<li><a id="courseIdLink" class="dropdown-item" data-type="number">course
													id</a></li>
											<li><a id="courseNameLink" class="dropdown-item" data-type="text">course
													name</a></li>
											<li><a id="roomIdLink" class="dropdown-item" data-type="number">room id</a>
											</li>
										</ul>
									</div>
								</form>
							</div>
						</div>
					</nav>
				</div>
			</div>
			<div class="row">
				<div class="col-xs-12">
					<table class="table-responsive-md table table-hover table-striped my-custom-table">
						<thead>
							<tr>
								<th scope="col">Id</th>
								<th scope="col">Lesson number</th>
								<th scope="col">Lesson date</th>
								<th sec:authorize="hasRole('ADMINISTRATOR') or hasRole('TEACHER')" scope="col">Course id</th>
								<th sec:authorize="hasRole('ADMINISTRATOR') or hasRole('TEACHER')" scope="col">Room id</th>
								<th class="my-custom-border"
									sec:authorize="hasRole('ADMINISTRATOR') or hasRole('TEACHER')" scope="col">Action
								</th>
							</tr>
						</thead>
						<tbody>
							<tr th:each="lesson : ${lessons}">
								<th scope="row" th:text="${lesson.id}"></th>
								<td th:text="${lesson.lessonNumber}"></td>
								<td th:text="${lesson.lessonDate}"></td>
								<td sec:authorize="hasRole('ADMINISTRATOR') or hasRole('TEACHER')">
									<div th:if="${lesson.courseId == null and purpose == null}">
										<a th:href="@{/courses}">
											<button type="button" class="btn btn-outline-success">Assign to course</button>
										</a>
									</div>
									<div th:if="${lesson.courseId != null and purpose != 'deleteFromCourse'}">
										[[${lesson.courseId}]]
									</div>
									<div th:if="${lesson.courseId == null and purpose == 'addToCourse'}">
										<form th:action="@{/courses/addLessonToCourse/{lessonId}/lessonId/{courseId}/courseId (lessonId=${lesson.id}, courseId=${courseId})}" method="POST">
											<button type="submit" class="btn btn-outline-success">Add this lesson to course</button>
										</form>
									</div>
									<div th:if="${purpose == 'deleteFromCourse'}">
										<form th:action="@{/courses/deleteLessonFromCourse/{lessonId}/lessonId/{courseId}/courseId (lessonId=${lesson.id}, courseId=${courseId})}" method="POST">
											<button type="submit" class="btn btn-outline-danger">Delete this lesson from course</button>
										</form>
									</div>
								</td>
								<td sec:authorize="hasRole('ADMINISTRATOR') or hasRole('TEACHER')">
									<div th:if="${lesson.roomId == null}">
										<a th:href="@{/rooms?purpose=addToLesson&lessonId={lessonId} (lessonId=${lesson.id})}">
											<button type="button" class="btn btn-outline-success">Assign a room</button>
										</a>
									</div>
									<div th:unless="${lesson.roomId == null}">
										[[${lesson.roomId}]]
									</div>
								</td>
								<td class="my-custom-border"
									sec:authorize="hasRole('ADMINISTRATOR') or hasRole('TEACHER')">
									<a th:href="@{/lessons/{id}/update (id=${lesson.id})}">
										<button type="button" class="update-button">Update</button>
									</a>
									<br>
									<form th:action="@{/lessons/{id}/delete (id=${lesson.id})}" method="POST">
										<button type="submit" class="delete-button">Delete</button>
									</form>
								</td>
							</tr>
						</tbody>
					</table>
					<div th:unless="${lessons.size() > 0}">
						<div class="row">
							<div class="col-xs-12 text-center mt-4">
								<span>No lessons found!</span>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-xs-12">
							<nav
								th:replace="~{fragments/general :: pagination(${currentPagePath}, ${currentPage}, ${totalPages}, ${page}, ${pageSize})}">
							</nav>
						</div>
					</div>
				</div>
			</div>
		</main>
	</div>
	<script src="/js/lessons.js"></script>
	<script src="/webjars/jquery/3.7.1/jquery.min.js"></script>
	<script src="/webjars/bootstrap/5.3.2/js/bootstrap.bundle.min.js"></script>
</body>

</html>